@charset "ISO-8859-1";
body{
	
	font-family:Arial, Helvetica, sans-serif;
}
#container{
	width:1000px;
	height: 4em ;
	Margin: 0 0 0 auto;
	
	
}
.imgRedonda {
    width:60px;
    height:60px;
    border-radius:150px;
}
.borde{
    border-radius:30px;
    border:5px solid #666;
}