body{
  background:url(../Imagenes/fondo.jpg);
  background-size: 1350px;
  background-repeat: no-repeat;
}
.logo{
  border-radius: 50%;
  align-items: le;
}
.cita, .consultar, .citaE{
  text-align: center;
}
.c1{
 border: 1px solid #E1E1E1;
 border-radius: 5px;
 border-color: black;
 background-color: #00BFFF ;
 width: 660px;
 height: 200px;
 float: center;
}
.c2{
 border: 1px solid #E1E1E1;
 border-radius: 5px;
 border-color: black;
 background-color: white;
 width: 660px;
 height: 160px;
 float: left;
}
.c3{
 border: 1px solid #E1E1E1;
 border-radius: 5px;
 border-color: black;
 background-color: #00BFFF ;
 width: 660px;
 height: 200px;
 float: left;
}
.c4{
 border: 1px solid #E1E1E1;
 border-radius: 5px;
 border-color: black;
 background-color: aquamarine ;
 width: 400px;
 height: 560px;
 float: right;
}
input[type=text] {
  border: 1px dotted #999;
  border-radius: 0;

  -webkit-appearance: none;
}
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}
.datos{
  text-align: center;   
}